<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
    <div class="container">
      <h2>Regístrate</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nombre, class: "form-label" %><br />
        <%= f.text_field :nombre, autofocus: true, class: "form-control form-control-lg", :required => 'required' %>
      </div>

      <div class="field">
        <%= f.label :apellido, class: "form-label" %><br />
        <%= f.text_field :apellido, autofocus: true, class: "form-control form-control-lg", :required => 'required' %>
      </div>

      <div class="field">
        <%= f.label :rut, class: "form-label" %><br />
        <%= f.text_field :rut, autofocus: true, class: "form-control form-control-lg", :required => 'required' %>
      </div>

      <div class="field">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", :required => 'required' %>
      </div>

      <div class="field">
        <%= f.label :contraseña, class: "form-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "Nueva contraseña", class: "form-control form-control-lg" %>
      </div>

      <div class="field">
        <%= f.label :confirmar_contraseña, class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "Nueva contraseña", class: "form-control form-control-lg" %>
      </div>

      <div class="actions mt-3">
        <%= f.submit "Enviar", data: {turbo: false}, class: "btn btn-outline-light btn-lg px-5" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

</div>
</div>
</div>
</div>
</div>